$black-1: rgba(black, 0.87);

$white-1: rgba(white, 0.87);
$white-2: rgba(white, 0.56);
$white-3: rgba(white, 0.32);

$font-bg-dark: $white-1;

$font-stack: "Montserrat", sans-serif;
$font-stack-secondary: "Roboto", sans-serif;

$bought: #ff3d00;
$prices: yellow;
$sold: #00e676;
$updates: #d500f9;
