@import "./../variables.scss";
@import "./../styles.scss";

#supply-demand-influence {
  .left {
    @extend .bg-indigo-700;
  }

  .right {
    @extend .bg-indigo-500;
  }

  .axis.y,
  .axis.x {
    text {
      fill: $white-1;
    }

    .tick {
      line {
        stroke: $white-1;
      }

      text {
        fill: $white-1;
      }
    }
  }

  .domain {
    stroke: $white-1;
  }

  .zero-line {
    stroke: $white-1;
  }

  .update-line {
    stroke-width: 1.5;
    stroke: $updates;
    fill: none;
  }

  .bars {
    .bar {
      &.sellingPriceDelta {
        fill: $prices;
      }

      &.sellingCompletedDelta {
        fill: $sold;
      }

      &.buyingCompletedDelta {
        fill: $bought;
      }
    }
  }
}
